In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('./ExportData.csv', delimiter=";")
df.head(5)

C:\Users\hp\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,6,8,17,38,44,47,50,53,56,62,65,74,77,83,86,92,98,101,104,107,113,116,119,122,125,128,131) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Code du groupement d'utilisation,Libellé du groupement d'utilisation,Code du nouveau produits remarquables,Libellé du nouveau produits remarquables,Code de la section CTCI,Libellé de la section CTCI,Code de la division CTCI,Libellé de la division CTCI,Code du groupe CTCI,Libellé du groupe CTCI,...,Unité complementaire Mars 2021,Poids en KG Avril 2021,Valeur DHS Avril 2021,Unité complementaire Avril 2021,Poids en KG Mai 2021,Valeur DHS Mai 2021,Unité complementaire Mai 2021,Poids en KG Juin 2021,Valeur DHS Juin 2021,Unité complementaire Juin 2021
0,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,LÉGUMES ET FRUITS,57,"FRUITS, MÊME À COQUE (À L¿EXCLUSION DES FRUITS...",...,0,316028,763821,0,47892,139052,0,44660,118270,0
1,1,"ALIMENTATION, BOISSONS ET TABACS",101,AGRUMES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,LÉGUMES ET FRUITS,57,"FRUITS, MÊME À COQUE (À L¿EXCLUSION DES FRUITS...",...,0,0,0,0,0,0,0,0,0,0
2,1,"ALIMENTATION, BOISSONS ET TABACS",102,"AMIDONS,GLUTEN DE FROMENT ET DÉRIVÉS",5,"PRODUITS CHIMIQUES ET PRODUITS CONNEXES, N.D.A.",59,"MATIÈRES ET PRODUITS CHIMIQUES, N.D.A.",592,"AMIDONS ET FÉCULES, INULINE ET GLUTEN DE FROME...",...,0,0,0,0,0,0,0,0,0,0
3,1,"ALIMENTATION, BOISSONS ET TABACS",103,ANIMAUX VIVANTS (ALIMENTATION),0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,0,ANIMAUX VIVANTS AUTRES QUE CEUX FIGURANT DANS ...,1,ANIMAUX VIVANTS AUTRES QU¿ANIMAUX DE LA SECTIO...,...,0,0,0,0,0,0,0,0,0,0
4,1,"ALIMENTATION, BOISSONS ET TABACS",105,BANANES FRAÎCHES OU SÈCHES,0,PRODUITS ALIMENTAIRES ET ANIMAUX VIVANTS,5,LÉGUMES ET FRUITS,57,"FRUITS, MÊME À COQUE (À L¿EXCLUSION DES FRUITS...",...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60483 entries, 0 to 60482
Columns: 132 entries, Code du groupement d'utilisation to Unité complementaire Juin 2021
dtypes: int64(3), object(129)
memory usage: 60.9+ MB

In [18]:
df.columns[:16]

Index(['Code du groupement d'utilisation',
       'Libellé du groupement d'utilisation',
       'Code du nouveau produits remarquables',
       'Libellé du nouveau produits remarquables', 'Code de la section CTCI',
       'Libellé de la section CTCI', 'Code de la division CTCI',
       'Libellé de la division CTCI', 'Code du groupe CTCI',
       'Libellé du groupe CTCI', 'Continent', 'Code du pays',
       'Libellé du pays', 'Code du flux', 'Libellé du flux',
       'Poids en KG Janvier 2018'],
      dtype='object')

In [22]:
subdf=df.iloc[:,0:15]
subdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60483 entries, 0 to 60482
Data columns (total 15 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Code du groupement d'utilisation          60483 non-null  int64
 1   Libellé du groupement d'utilisation       60483 non-null  object
 2   Code du nouveau produits remarquables     60483 non-null  int64
 3   Libellé du nouveau produits remarquables  60483 non-null  object
 4   Code de la section CTCI                   60483 non-null  object
 5   Libellé de la section CTCI                60483 non-null  object
 6   Code de la division CTCI                  60483 non-null  object
 7   Libellé de la division CTCI               60480 non-null  object
 8   Code du groupe CTCI                       60483 non-null  object
 9   Libellé du groupe CTCI                    60481 non-null  object
 10  Continent                                 60483 non-null  object
 11  Code du pays                              60451 non-null  object
 12  Libellé du pays                           60483 non-null  object
 13  Code du flux                              60483 non-null  int64
 14  Libellé du flux                           60483 non-null  object
dtypes: int64(3), object(12)
memory usage: 6.9+ MB

In [23]:
subdf.isnull().sum()

Code du groupement d'utilisation             0
Libellé du groupement d'utilisation          0
Code du nouveau produits remarquables        0
Libellé du nouveau produits remarquables     0
Code de la section CTCI                      0
Libellé de la section CTCI                   0
Code de la division CTCI                     0
Libellé de la division CTCI                  3
Code du groupe CTCI                          0
Libellé du groupe CTCI                       2
Continent                                    0
Code du pays                                32
Libellé du pays                              0
Code du flux                                 0
Libellé du flux                              0
dtype: int64

In [24]:
pays_label=[]
for i in range(len(subdf)):
    if(subdf['Libellé du pays'][i] and subdf['code du pays'][i] ):
        pays_lebel.append({'pays':})
        pays_lebel.append({'pays':})

array(['MAURITANIE', 'SINGAPOUR', 'UKRAINE', 'GUINEE',
       'REPUBLIQUE DOMINICAINE', 'SRI LANKA', 'MALI', 'SENEGAL', 'QATAR',
       'BULGARIE', 'GIBRALTAR', 'FEDERATION DE RUSSIE', 'KENYA',
       'URUGUAY', 'ARABIE SAOUDITE', 'CONGO', 'HONG KONG', 'SUISSE',
       'DANEMARK', 'FRANCE', 'NIGER', 'REUNION', 'SWAZILAND',
       'AFRIQUE DU SUD', 'CANADA', 'MEXIQUE', 'REPUBLIQUE DE COREE',
       'LIBAN', 'OMAN', 'ESPAGNE', 'IRLANDE', 'ITALIE', 'LETTONIE',
       'TURQUIE', 'ETATS-UNIS', 'EMIRATS ARABES UNIS', 'BELGIQUE',
       'ALLEMAGNE', 'CAMEROUN', 'EGYPTE', 'SOUDAN', 'GUATEMALA', 'PEROU',
       'BAHREIN', 'CHINE', 'JAPON', 'AUTRICHE', 'PAYS-BAS', 'POLOGNE',
       'NAMIBIE', 'ARGENTINE', 'VIET NAM', 'AUSTRALIE', 'PORTUGAL',
       'AFGHANISTAN', 'MALAISIE', 'THAILANDE', 'TCHAD', 'AVITAILLEMENT',
       'HONGRIE', 'ALGERIE', 'LIBYE', 'TRINITE-ET-TOBAGO', 'BANGLADESH',
       'ALBANIE', 'ROYAUME-UNI', 'NOUVELLE-ZELANDE', 'REPUBLIQUE TCHEQUE',
       'DJIBOUTI', 'ESTONIE', 'LITUANIE', 'KIRGHIZISTAN',
       'REPUBLIQUE DE MOLDOVA', 'INDE', 'TERRITOIRE PALESTINIEN OCCUPE',
       'GRECE', 'TUNISIE', 'FINLANDE', 'LIBERIA', 'KOWEIT', 'NIGERIA',
       'CHILI', 'INDONESIE', 'GABON', 'GUINEE-BISSAU', 'SLOVENIE',
       'BRESIL', 'SERBIE', 'TOGO', 'LA REPUBLIQUE DEMOCRATIQUE DU CONGO',
       'MALTE', 'ROUMANIE', "COTE D'IVOIRE", 'GUADELOUPE', 'SUEDE',
       'CAMBODGE', 'SLOVAQUIE', 'NOUVELLE-CALEDONIE', 'TONGA',
       'SIERRA LEONE', 'PHILIPPINES', 'GAMBIE', 'BURKINA FASO',
       'REPUBLIQUE CENTRAFRICAINE', 'GHANA', 'PORTO RICO',
       "REPUBLIQUE ISLAMIQUE D'IRAN", 'AUTRES PAYS', 'CHYPRE', 'CROATIE',
       'MAURICE', 'EL SALVADOR', 'MONGOLIE', 'NORVEGE', 'ANGOLA',
       'RWANDA', 'REPUBLIQUE ARABE SYRIENNE', 'JORDANIE', 'COLOMBIE',
       'CUBA', 'GUYANA', 'LUXEMBOURG', 'BURUNDI',
       'REPUBLIQUE-UNIE DE TANZANIE', 'CAP-VERT', 'ETHIOPIE', 'MAYOTTE',
       'PANAMA', 'GROENLAND', 'IRAQ', 'OUGANDA', 'MALAWI', 'BENIN',
       'MALDIVES', 'MONTENEGRO', 'SAO TOME-ET-PRINCIPE', 'YEMEN',
       'PROVINCE DE CHINE TAIWAN', 'COMORES', 'EQUATEUR', 'MARTINIQUE',
       'SURINAME', 'MACEDOINE', 'REPUBLIQUE BOLIVARIENNE DU VENEZUELA',
       'GUINEE EQUATORIALE', 'MOZAMBIQUE', 'BELARUS', 'ZAMBIE',
       'BOSNIE-HERZEGOVINE', 'TIMOR-LESTE', 'FIDJI', 'GEORGIE',
       'MADAGASCAR', 'DOMINIQUE', 'ZIMBABWE', 'COSTA RICA', 'BARBADE',
       'SOMALIE', 'CURACAO', 'WALLIS ET FUTUNA', 'ARMENIE', 'PARAGUAY',
       'ILES FEROE', "L'ETAT PLURINATIONAL DE BOLIVIE", 'PAKISTAN',
       'HAITI', 'ISLANDE', 'ILES MARIANNES DU NORD', 'OUZBEKISTAN',
       'SEYCHELLES', 'HONDURAS', 'NICARAGUA', 'POLYNESIE FRANCAISE',
       'SAINT-MARIN', 'ANTILLES NEERLANDAIS', 'BRUNEI DARUSSALAM',
       'MONACO', 'KOSOVO', 'TURKMENISTAN', 'KAZAKHSTAN', 'JAMAIQUE',
       'GUYANE FRANCAISE', 'LESOTHO', 'NEPAL', 'AZERBAIDJAN', 'BAHAMAS',
       'BELIZE', 'LIECHTENSTEIN', 'PAPOUASIE-NOUVELLE-GUINEE',
       'SAINTE-LUCIE', 'TOKELAU', 'MYANMAR', 'MACAO', 'BERMUDES',
       'ILES (MALVINAS) FALKLAND',
       "TERRITOIRE BRITANNIQUE DE L'OCEAN INDIEN", 'VANUATU',
       'REPUBLIQUE DEMOCRATIQUE POPULAIRE LAO', 'JERSEY',
       'REPUBLIQUE POPULAIRE DEMOCRATIQUE DE COREE',
       'SAINT-MARTIN (PARTIE NEERLANDAISE)', 'ILES MARSHALL',
       'SAMOA AMERICAINES', 'YOUGOUSLAVIE', 'ARUBA', 'ERYTHREE',
       'BOTSWANA', 'SAINT-SIEGE (ETAT DE LA CITE DU VATICAN)', 'ANDORRE',
       'ILES CAIMANES', 'SAINT-VINCENT-ET-LES GRENADINES', 'TADJIKISTAN',
       'ANTIGUA ET BARBUDA', 'SAINT-KITTS-ET-NEVIS', 'GRENADE',
       'GEORGIE DU SUD ET LES ILES SANDWICH DU SUD', 'PALAOS',
       'ILES SALOMON', 'ETATS FEDERES DE MICRONESIE',
       'SAINTE-HELENE, ASCENSION ET TRISTAN DA CUNHA', 'GUERNESEY',
       'ILES VIERGES DES ETATS-UNIS',
       'ILES MINEURES ELOIGNEES DES ETATS-UNIS'], dtype=object)

As we have a reasonable number of missing values (32) and they are categorical variables , let's create a function to handle th